{% extends 'base.html' %}

{% block title %}{{activity}}{% endblock %}

{% block content %}

<div class="container">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">{{resource["name"]}}</h2>
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Activities</h4>
					<ul>
					{% for activity in resource['activities']%}
						<li>{{ activity["name"] }}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Links:</h4>
					{% for link in resource['links']%}
					<a href="{{ link['url'] }}">{{ link['title'] }}</a><span> |</span>
					{% endfor %}
				</div>
			</div>
			
		</div>
	</div>
</div>

{% endblock %}