{% extends "home.html" %}

{% block title %}Search{% endblock %}

{% block search %}
{{ super()}}

{% if results %}
<div class="container" id="results-container">
	<div class="card" id="results-card">
		<div class="card-body">
			<ul class="list-group list-group-flush" id="results-list">
				{% for result in results %}
				<li class="list-group-item" id="{{result['id']}}">
					<form action="/activity">
						<input type="hidden" name="activity-id" value="{{result['id']}}">
						<button type="submit" class="btn btn-link">{{result["name"]}}</button>
					</form>
				</li>
				{% endfor %}
			</ul>
		</div>
		<button class='btn btn-secondary' id='resources-back-btn' style="display: none;">Back</button>
	</div>
</div>
<script>
	let results = '{{ results|tojson }}'
</script>
{% endif %}

{% endblock %}