{% extends "home.html" %}

{% block title %}Search{% endblock %}

{% block search %}
{{ super()}}

{% if results %}
<div class="container" id="results-container">
	<div class="card" id="results-card">
		<div class="card-body">
			<ul class="list-group list-group-flush" id="results-list">
				{% for result in results %}
				<li class="list-group-item" id="{{result['name']}}">
					{{result["name"]}}
					<!-- <a href="/{{search_type}}/{{result['name']}}">{{result["name"]}}</a> -->
				</li>
				{% endfor %}
			</ul>
		</div>
		<button class='btn btn-secondary' id='resources-back-btn' style="display: none;">Back</button>
	</div>
</div>
<script>
	let results = '{{ results|tojson }}'
</script>
{% endif %}

{% endblock %}