{% extends "home.html" %}

{% block title %}Search{% endblock %}

{% block search %}
{{ super()}}
<!-- <div class="container">
	<div class="container">
		<form action="/search">

			<input type="radio" class="btn-check" name="type" id="activities" value="activities" autocomplete="off" checked>
			<label class="btn btn-outline-secondary" for="activities">Activites</label>

			<input type="radio" class="btn-check" name="type" id="parks" value="parks" autocomplete="off">
			<label class="btn btn-outline-secondary" for="parks">Parks/Facilities</label>

			<input type="radio" class="btn-check" name="type" id="campgrounds" value="campgrounds" autocomplete="off">
			<label class="btn btn-outline-secondary" for="campgrounds">Campgrounds</label>

			<div class="mb-3">
				<label class="form-label" for="search">Search</label>
				<input class ="form-control" id="search" placeholder="search" name="term">
				<label class="form-label" for="stater">State</label>
				<input class ="form-control" id="state" placeholder="search" name="state">
			</div>
			<button type="submit" class="btn btn-secondary">Search</button>
		</form>
	</div>
</div> -->



{% if results %}
<div class="container">
	<div class="card">
		<div class="card-body">
			<ul class="list-group list-group-flush">
				{% for result in results %}
				<li class="list-group-item" id="rec#{{result['id']}}">
					<a href="/recarea/{{result['id']}}">{{result['name']}}</a>
				{#{% if curr_trip %}
				<form action="/activities/{{curr_trip}}" method="PATCH">
					<button class="btn btn-secondary">Add</button>
				</form>
				{% endif %}#}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}